# dependencies
node_modules/

# IDE
.idea
.vscode/*
!.vscode/settings.json.default
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# TypeScript cache
*.tsbuildinfo

# output dir
dist/

# build files
**/*.vsix

# cache
.cache_ggshield
.vscode-test/

# ggshield internal
ggshield-internal/
ggshield-bundled/

# worktrees
.worktrees
